.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(24, 24, 24, 0.6);
    font-family: "Courier New", Courier, monospace;
    width: 15em;
    height: 22em;
    font-size: 1em;
    margin: 1rem 1em 0em 1em;
    padding: 0.5em;
    color: rgb(216, 213, 216);
    box-shadow: 0 10px 6px #000;
    
  }
  
  .container img {
    border-radius: 5px;
    margin-top: 0.2em;
  }
  .content__img {
    width: 14em;
    height: 12em;
    border-radius: 15%;
    position: relative;
    overflow: hidden;
  }
  .content__img img {
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
  }
  .content__img:hover img {
    transform: scale(1.2);
  }
  .container button {
    border-radius: 0.5em;
    border: #00ff40 solid;
    margin-top: 2em;
    background-color: rgb(71, 30, 84);
    color: rgb(216, 213, 216);
    font-size: 0.8em;
    transform: scale(1);
    padding: 0.5em;
    font-weight: 700;
    transition: transform 0.3s ease;
  }
  .container button:hover {
    background-color: #ff6f3c;
    transform: scale(1.1);
  }
  .container h2 {
    font-size: 1.2em;
    margin: 0.2em;
  }
  
  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  
  