@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #0a58ca;
  --background-start-rgb: #0a58ca;
  --background-end-rgb: #0a58ca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #0a58ca;
    --background-start-rgb: #FFFFFF;
    --background-end-rgb: #0a58ca;
  }
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: #0a58ca;
  --container-color: #0a58ca;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position:fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1,25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    background-color: hsla(0, 0%, 0%, .3);
    top: -100%;
    left: 0;
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: top .4s;
  }
  .nav__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .nav__link {
    position: relative;
    color: var(--title-color);
    font-size: var(--second-font);
    font-weight: var(--font-medium);
  }
  .nav__link::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
  }
  .nav__link:hover::after {
    width: 70%;
  }
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
}

/* Show menu */
.show-menu {
  top: 0;
}
/* Active link */
.active_link::after {
  width: 70%;
}

/*=============== BUTTON ===============*/
.button {
  background-color: hsla(0, 0%, 100%, .2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}
.button i {
  font-size: 1.25rem;
  transition: transform .4s;
  font-weight: initial;
}
.button:hover i {
  transform: translateX(.25rem);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 3rem;
  bottom: -50%;
  background-color: hsl(0, 0%, 100%, .1);
  padding: 6px;
  display: inline-flex;
  color: var(--title-color);
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  z-index: var(--z-tooltip);
  transition: bottom .4s transform .4s;
}
.scrollup:hover {
  transform: translateY(-.25rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .footer__data {
    grid-template-columns: max-content;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .explore__content,
  .join__container {
    grid-template-columns: 380px;
    justify-content: center;
  }
  .footer__data {
    grid-template-columns: repeat(3,max-content);
  }
}
@media screen and (min-width: 768px) {
  
  .about__data,
  .about__data .section__title,
  .join__data,
  .join__data .section__title {
    text-align: initial;
  }
  .popular__container {
    grid-template-columns: repeat(2, 240px);
  }
  
  footer__content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .footer__group {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__copy {
    order: -1;
  }
}
/* For large devices */
@media screen and (min-width: 1023px) {
/* Active link */
.active_link::after {
  width: 70%;
}
.popular__container {
  grid-template-columns: repeat(3, 240px);
}
.footer__data {
  grid-template-columns: repeat(4, max-content);
  column-gap: 4.5rem;
}
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 6rem 2rem;
  }
  
  .button {
    column-gap: 1.5rem;
  }
  
  .popular__container {
    grid-template-columns: repeat(3, 300px);
    column-gap: 3rem;
    padding-top: 4rem;
  }
  .popular__title {
    font-size: var(--h2-font-size);
  }
  .popular__location {
    font-size: var(--normal-font-size);
  }
  
  .explore__content {
    padding-top: 2rem;
    grid-template-columns: 670px 1fr;
  }
  
  
  
  .footer {
    padding-block: 5rem 3rem;
  }
  .footer__title {
    margin-bottom: 1.5rem;
  }
  .footer__group {
    margin-bottom: 7rem;
  }
  .footer__social {
    column-gap: 2rem;
  }
  .footer__social-link {
    font-size: 1.5rem;
  }
  .scrollup {
    right: 3rem;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
}
