/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 3rem;
  bottom: -50%;
  background-color: hsla(190, 38%, 49%, 0.836);
  border-radius: 15%;
  padding: 6px;
  display: inline-flex;
  color: rgb(254, 254, 254);
  font-size: 1.5rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  /*for Safari*/
  z-index: var(--z-tooltip);
  transition: bottom 0.4s transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.30rem);
}

/* Show Scroll Up */
.show_scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/

@media screen and (min-width: 1152px) {

  .scrollup {
    right: 3rem;
  }
}