.container {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-right: 1200px;
    
  }
  
  /* Estilos para el formulario */
  .form {
    display: flex;
    align-items: center;
    
  }
  
  /* Estilos para el input de búsqueda */
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

  }