.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  /*=============== FOOTER ===============*/
.footer {
    padding-block: 2.5rem;
    background-color: var(--container-color);
   
  }
  
  .footer_content {
    row-gap: 3.5rem;
  }
  .footer__logo {
    display: inline-block;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
  }
  .footer__data {
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 3.5rem;
  }
  .footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
  }
  .footer__links {
    display: grid;
    row-gap: 0.75rem;
  }
  .footer__link {
    color: var(--text-color);
    transition: color 0.4s;
  }
  .footer__link:hover {
    color: var(--title-color);
  }
  .footer__group,
  .footer__social {
    display: flex;
  }
  .footer__group {
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    row-gap: 2rem;
  }
  .footer__social {
    column-gap: 1.5rem;
  }
  .footer__social_link {
    color: var(--text-color);
    font-size: 1.25rem;
    transition: color 0.4s transform 0.4s;
  }
  .footer__social_link:hover {
    color: var(--title-color);
    transform: translateY(-0.25rem);
  }
  .footer__copy {
    font-size: var(--smaller-font-size);
    color: var(--text-color);
    text-align: center;
  }

  /* For small devices */
@media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
    .footer__data {
      grid-template-columns: max-content;
    }
}
/* For medium devices */
@media screen and (min-width: 576px) {
    .footer__data {
        grid-template-columns: repeat(3, max-content);
      }
}

@media screen and (min-width: 768px) {
    .footer__content {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
      }
      .footer__group {
        flex-direction: row;
        justify-content: space-between;
      }
      .footer__copy {
        order: -1;
      }
}
/* For large devices */
@media screen and (min-width: 1023px) {
    .footer__data {
        grid-template-columns: repeat(4, max-content);
        column-gap: 4.5rem;
    }
}
@media screen and (min-width: 1152px) {
    .container {
        margin-inline: auto;
    }
    .footer {
        padding-block: 5rem 3rem;
      }
      .footer__title {
        margin-bottom: 1.5rem;
      }
      .footer__group {
        margin-bottom: 7rem;
      }
      .footer__social {
        column-gap: 2rem;
      }
      .footer__social-link {
        font-size: 1.5rem;
      }
}